.items {
  width: 600px;
  overflow: scroll;
  white-space: nowrap;
  border: 2px solid #000;
  cursor: grab;
}

.item {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  background: #7da7ff;
  margin: 10px;
  font-size: 40px;
  line-height: 200px;
  text-align: center;
  user-select: none;
}
