.items {
  display: flex;
  overflow-x: scroll;
  width: 600px;
  border: 3px solid #222;
  cursor: grab;
  white-space: nowrap;
  user-select: none;
}

.items:active {
  cursor: grabbing;
}

.item {
  min-width: 200px;
  height: 200px;
  background: #7da7ff;
  border: 2px solid #000;
  margin: 15px;
  font-size: 40px;
  text-align: center;
  line-height: 200px;
}
