.items {
  width: 500px;
  overflow-x: scroll;
  display: flex;
  border: 2px solid black;
  cursor: grab;
}

.item {
  min-width: 200px;
  height: 200px;
  margin: 10px;
  background: skyblue;
  border: 2px solid #000;
  line-height: 200px;
  text-align: center;
  user-select: none;
}
